<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Books" asp-action="Index">Books</a></li>
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-controller="Renginys" asp-action="Index">Renginiai</a></li>
            <li><a asp-controller="Aiksteles" asp-action="Index">Aikštelės</a></li>
            @if (User.Identity.IsAuthenticated)
            {
            <li>
                <form asp-controller="Account" asp-action="Logoff" method="post" class="form-horizontal" role="form">
                    <input type="submit" value="Logoff" class="btn btn-default" />
                </form>
            </li>
            }
        </ul>
    </div>
    <div>@RenderBody()</div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>