@model IEnumerable<WebApplication3.Models.TurnyroModeliai.Komanda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@{ if (ViewBag.KomandosId == 0)
    {
        <p>
            <a asp-action="Create" class="btn btn-info">Sukurti komanda</a>
        </p>
    }
    else
    {
        <p>
            <a asp-action="TeamView" class="btn btn-info">Tavo komanda</a>
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </th>
        <th></th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pavadinimas)
        </td>
        <td>
            <a asp-action="TeamView" asp-route-id="@item.KomandaID" class="btn btn-info" role="button">Perziureti</a>
        </td>
        <td>
        </td>
    </tr>
}
</table>
