@model IEnumerable<WebApplication3.Models.Identity.ApplicationUser>

<table class="table">
    <tr>
        <th>
            Rasti zaidejai
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)            
            </td>
            <td>
                <a asp-action="Invite" asp-route-id="@ViewBag.TeamId">Pakviesti</a> |
            </td>
        </tr>
    }
</table>
