@model WebApplication3.Models.TurnyroModeliai.Turnyras
@using WebApplication3.Models.TurnyroModeliai

@{
    ViewData["Title"] = "Gatvės Sporto Organizatorius - Naujas Turnyras";
}
<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Pradžia</a></li>
    <li><a asp-controller="Turnyras" asp-action="Index">Turnyrai</a></li>
    <li class="active">Naujo turnyro paskelbimas</li>
</ol>
<div class="well col-sm-6">
    <form id="create_tourney_form" asp-action="Create">
        <div class="form-horizontal">
            <h4>Naujo turnyro paskelbimas</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pavadinimas" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Pavadinimas" class="form-control" />
                    <span asp-validation-for="Pavadinimas" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TurnyroSportoSaka" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <select asp-for="TurnyroSportoSaka" asp-items="Html.GetEnumSelectList<TurnyroSportoSaka>()" class="form-control">
                    </select>
                    <span asp-validation-for="TurnyroSportoSaka" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MinZaidejuKiekisKomandoje" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <select asp-for="MinZaidejuKiekisKomandoje" class="form-control">
                        <option value="1">1v1</option>
                        <option value="2">2v2</option>
                        <option value="3">3v3</option>
                        <option value="4">4v4</option>
                        <option value="5">5v5</option>
                    </select>
                    <span asp-validation-for="MinZaidejuKiekisKomandoje" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KomanduKiekis" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <select asp-for="KomanduKiekis" class="form-control">
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                    </select>
                    <span asp-validation-for="KomanduKiekis" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-9">
                    <input type="submit" id="announceTourney" value="Paskelbti" class="btn btn-primary" />
                </div>
            </div>
            <input type="hidden" name="ChallongeAddress" id="ChallongeAddress" value="">
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Turnyras/Create/script.js"></script>
}
