@{
    ViewData["Title"] = "Gatvės Sporto Organizatorius";
}
@using System.Security.Principal

@section Scripts
{
    <script src="~/js/home/script.js"></script>
}

@*@if (User.Identity.IsAuthenticated)
{
    @(User.Identity.Name);
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
{
    <div>Priklauso adminams!</div>
}*@

<div class="jumbotron">
    <p>Sveiki atvykę į Gatvės Sporto Organizatorių!</p>
</div>