@{
    ViewData["Title"] = "Gatvės Sporto Organizatorius";
}
@using System.Security.Principal

<div class="jumbotron">
    <p>Sveiki atvykę į Gatvės Sporto Organizatorių!</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@(User.Identity.Name)</p>

    @if (User.IsInRole("svecias"))
    {
        <p>Svečias</p>
    }
    @if (User.IsInRole("vartotojas"))
    {
        <p>Vartotojas</p>
    }
    @if (User.IsInRole("kurejas"))
    {
        <p>Kūrėjas</p>
    }
    @if (User.IsInRole("kapitonas"))
    {
        <p>Kapitonas</p>
    }
    @if (User.IsInRole("administratorius"))
    {
        <p>Administratorius</p>
    }
}