html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 70px;
  padding-bottom: 50px; }

.footer {
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  border-top: 1px solid #bf3e11;
  background-color: #dd4814; }
  .footer p {
    line-height: 40px;
    margin: 0; }

.table > tbody > tr > td {
  vertical-align: middle; }

.row.no-padding > div:first-child {
  padding-left: 0; }
.row.no-padding > div:last-child {
  padding-right: 0; }

.playground-icon {
  padding-left: 9px;
  font-size: 16px; }

#map, #map_modal {
  height: 450px !important;
  width: 100% !important;
  border: 1px solid #777777; }
  @media (max-width: 991px) {
    #map, #map_modal {
      margin-bottom: 15px; } }

.rating-container {
  float: right;
  margin-top: -8px; }

.panel-player .nav.nav-tabs {
  margin-bottom: 8px; }
.panel-player .nav-paginator {
  text-align: center; }
  .panel-player .nav-paginator .pagination {
    margin: 0; }

#brackets .label, #brackets_ongoing .label {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

.active-row {
  background: yellow;
  cursor: pointer; }

.m-l-10 {
  margin-left: 10px; }

.team-member {
  height: 52px;
  line-height: 33px; }

.container .jumbotron {
    padding: 10px;
}

.jumbotron p {
    margin: 0;
    font-size: 18px;
}