@model WebApplication3.Models.AikstelesModeliai.Renginys
@using WebApplication3.DataHelpers
@using WebApplication3.Models.AikstelesModeliai
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Renginys</h4>


        <div class="form-group">
            <label asp-for="SportoSaka" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SportoSaka" asp-items="Html.GetEnumSelectList<Sportas.SportoZaidimai>()" class="form-control"></select>
                <span asp-validation-for="SportoSaka" class="text-danger" />
            </div>
        </div>



        <div class="form-group">
            <label asp-for="ZaidejuKiekis" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ZaidejuKiekis" class="form-control" />
                <span asp-validation-for="ZaidejuKiekis" class="text-danger" />
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label asp-for="Data" class="col-md-2 control-label"></label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input asp-for="Data" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div>Aiksteles</div>
        @if (ViewData["Aiksteles"] != null)
        {
            List<SelectListItem> listItems = new List<SelectListItem>();
            foreach (Aikstele aikstele in (List<Aikstele>)ViewData["Aiksteles"])
            {
                listItems.Add(new SelectListItem
                {
                    Text = aikstele.Adresas + ", " + aikstele.Miestas,
                    Value = aikstele.AiksteleID
                });
            }
            @Html.DropDownListFor(model => model.Aikstele.AiksteleID, listItems, "Aiksteles", new { @class = "form-control" })
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>

@section Scripts {
  <script src="~/js/renginiai/laikrodis.js"></script> 
}
